In [54]:
import pandas as pd
import numpy as np
import ast
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [35]:
try:
    city = pd.read_csv('City.csv', encoding='latin-1')
except UnicodeDecodeError:
    try:
        city = pd.read_csv('City.csv', encoding='cp1252')  
    except UnicodeDecodeError:
        
        print("Error: Unable to decode file with available encodings.")
        
try:
    state_with_places = pd.read_csv('State_with_places.csv', encoding='latin-1')
except UnicodeDecodeError:
    try:
        state_with_places = pd.read_csv('State_with_places.csv', encoding='cp1252')  
    except UnicodeDecodeError:
        
        print("Error: Unable to decode file with available encodings.")

try:
    indian_tourism = pd.read_csv('India-Tourism-Statistics-2021-Table-5.2.3.csv', encoding='latin-1')
except UnicodeDecodeError:
    try:
        indian_tourism = pd.read_csv('India-Tourism-Statistics-2021-Table-5.2.3.csv', encoding='cp1252')  
    except UnicodeDecodeError:
        
        print("Error: Unable to decode file with available encodings.")

try:
    india = pd.read_csv('india.csv', encoding='latin-1')
except UnicodeDecodeError:
    try:
        india = pd.read_csv('india.csv', encoding='cp1252')  
    except UnicodeDecodeError:
        
        print("Error: Unable to decode file with available encodings.")

try:
    indian_cities = pd.read_csv('Indian Cities Database.csv', encoding='latin-1')
except UnicodeDecodeError:
    try:
        indian_cities = pd.read_csv('Indian Cities Database.csv', encoding='cp1252')  
    except UnicodeDecodeError:
        
        print("Error: Unable to decode file with available encodings.")

In [29]:
city

,City,Ratings,Ideal_duration,Best_time_to_visit,City_desc
0,Manali,4.5,2-4,October-June,[' One of the most popular hill stations in Hi...
1,Leh Ladakh,4.6,5-7,JulyOctober,"["" Ladakh is a union territory in the Kashmir ..."
2,Coorg,4.2,2-3,September-June,[' Located amidst imposing mountains in Karnat...
3,Andaman,4.5,4-6,October-March,[' Replete with turquoise blue water beaches a...
4,Lakshadweep,4.0,4-6,September-February,"["" Formerly known as Laccadive Islands, Laksha..."
...,...,...,...,...,...
95,Pushkar,4.0,1-2,October and November,[' Pushka is a small temple town located aroun...
96,Chittorgarh,4.1,1,October - March,"[' Located in South-Eastern Rajasthan, Chittor..."
97,Nahan,3.9,1-2,April - June,"[' Away from the buzzing crowd of the city, Na..."
98,Lavasa,3.9,1,June and October,"["" Known as India's newest hill station, the L..."
99,Poovar,4.3,1,June - September,[' Poovar is a small rustic town situated 27 k...

In [31]:
state_with_places.head()

,State,Places_to_Visit,Category,Peak Season,@
0,Andhra Pradesh,"Charminar, Araku Valley, Amaravati, Borra Cave...",Historical,October - March,NaN
1,Arunachal Pradesh,"Tawang Monastery, Namdapha National Park, Ziro...",Religious,October - February,NaN
2,Assam,"Kaziranga National Park, Kamakhya Temple, Mana...",National Park,October - April,NaN
3,Bihar,"Bodh Gaya, Mahabodhi Temple, Nalanda Universit...",Religious,October - March,NaN
4,Chhattisgarh,"Kailashnath Temple, Bastar Hills, Chitrakote F...",Religious,October - March,NaN

In [33]:
indian_tourism.head()

,Circle,Name of the Monument,Domestic-2019-20,Foreign-2019-20,Domestic-2020-21,Foreign-2020-21,% Growth 2021-21/2019-20-Domestic,% Growth 2021-21/2019-20-Foreign
0,Agra,Taj Mahal,4429710,645415,1259892,9034,-71.56,-98.60
1,Agra,Agra Fort,1627154,386522,371242,2810,-77.18,-99.27
2,Agra,Fatehpur Sikri,454376,184751,107835,574,-76.27,-99.69
3,Agra,Akbar Tomb Sikandra,229270,19625,99509,321,-56.60,-98.36
4,Agra,Mariam tomb Sikandra,22517,414,9765,31,-56.63,-92.51

In [34]:
india

,Place Name,Rating,About Place,Best Time To Visit
0,Aurangabad,3.3,"Aurangabad, which was declared by the Governme...",October to March
1,Jammu,3.6,Jammu is the southernmost-part of the union te...,September to March
2,Dehradun,3.3,Nestled amidst the Doon Valley in the state of...,Throughout the year
3,Puri,4.0,Puri in Odisha is one of the four must-visit p...,July to March
4,Cherrapunji,4.0,"Earlier the wettest place on the Earth, Cherra...",September to May
...,...,...,...,...
95,Pune,3.3,"Pune is a bustling metropolis of Maharashtra, ...",July to March
96,Kodaikanal,4.4,"Located in the state of Tamil Nadu, Kodaikanal...",September to May
97,Kochi,3.8,"Situated on the south-west coast of India, Koc...",July to April
98,Ahmedabad,3.3,"A rapidly growing metropolis, an industrial hu...",October to March
99,Kanha National Park,3.5,"Located in a central region of Madhya Pradesh,...",October to June

In [36]:
indian_cities

             City        Lat       Long country iso2           State
0          Abohar  30.144533  74.195520   India   IN          Punjab
1        Adilabad  19.400000  78.310000   India   IN       Telangana
2        Agartala  23.836049  91.279386   India   IN         Tripura
3            Agra  27.187935  78.003944   India   IN   Uttar Pradesh
4      Ahmadnagar  19.094571  74.738432   India   IN     Maharashtra
..            ...        ...        ...     ...  ...             ...
208  Vizianagaram  18.113290  83.397743   India   IN  Andhra Pradesh
209      Warangal  17.978423  79.600209   India   IN       Telangana
210    Jorapokhar  23.700000  86.412670   India   IN       Jharkhand
211  Brajrajnagar  21.820000  83.920000   India   IN          Odisha
212       Talcher  20.950000  85.230000   India   IN          Odisha

[213 rows x 6 columns]

In [50]:
indian_cities_wih_rating=city.merge(indian_cities,on='City')
indian_cities_wih_rating=indian_cities_wih_rating.drop(['Lat','Long','iso2'],axis=1)
indian_cities_wih_rating

,City,Ratings,Ideal_duration,Best_time_to_visit,City_desc,country,State
0,Udaipur,4.3,2-3,October-March,"[' Udaipur, also known as the City of Lakes, i...",India,Rajasthan
1,Srinagar,4.5,3-5,April-October,"["" Famously known as 'Heaven on Earth, Srinaga...",India,Jammu and Kashmir
2,Gangtok,4.4,2-4,March-June,"[' Incredibly alluring, pleasantly boisterous ...",India,Sikkim
3,Shimla,4.2,2-4,March-June,[' Shimla is the capital of Himachal Pradesh a...,India,Himachal Pradesh
4,Jaipur,4.4,2-3,November-March,"[' Also called the Pink City, Jaipur is the ca...",India,Rajasthan
5,Varanasi,4.5,2-3,October-March,"["" World's oldest living city, Varanasi - also...",India,Uttar Pradesh
6,Mumbai,4.2,3-5,October-February,"[' Mumbai, the capital city of the Indian stat...",India,Maharashtra
7,Agra,4.2,1-2,November to February,[' Located on the banks of River Yamuna in Utt...,India,Uttar Pradesh
8,Jodhpur,4.2,1-2,November to February,[' Jodhpur is the second-largest city in Rajas...,India,Rajasthan
9,Amritsar,4.4,2-3,October-March,"[' Home of the glorious Golden Temple, the ico...",India,Punjab
10,Delhi,4.1,3-5,OctoberMarch,"[' The capital of India, Delhi is a cosmopolit...",India,Delhi
11,Hyderabad,4.1,2-4,November to February,"[' A city of contrasts, Hyderabad exudes an ol...",India,Telangana
12,Chennai,3.9,2-3,October to February,"["" Formerly known as Madras, Chennai is the ca...",India,Tamil Nadu
13,Pune,4.1,1-3,October to February,[' Pune is a bustling metropolis of Maharashtr...,India,Maharashtra
14,Kochi,4.2,1-2,October to February,"["" Situated on the southwest coast of India, K...",India,Kerala
15,Ahmedabad,4.1,1-2,November to February,"[' A rapidly growing metropolis, an industrial...",India,Gujarat
16,Mysore,4.2,1-2,October to March,"[' Famously known as The City of Palaces, it w...",India,Karnataka
17,Madurai,4.1,1-2,October to March,"["" Madurai, the cultural capital of Tamil Nadu...",India,Tamil Nadu
18,Tirupati,4.5,1-2,September-March,[' Situated in the Chittoor district of Andhra...,India,Andhra Pradesh
19,Ujjain,4.4,1-2,October to March,"[' Ujjain, considered to be one of the holiest...",India,Madhya Pradesh
20,Gwalior,3.8,1-2,September to March,[' Gwalior is a historic city located in the s...,India,Madhya Pradesh
21,Mathura,4.2,1-2,October to March,"["" One of Hinduism's seven sacred cities, Math...",India,Uttar Pradesh
22,Coimbatore,4.1,1-2,September to March,"["" Often termed as 'Manchester of South India'...",India,Tamil Nadu
23,Lucknow,4.2,1-2,October to March,[' The capital and the largest city of Uttar P...,India,Uttar Pradesh
24,Agartala,3.8,1-2,October through March,"[' Home to the Manikya Kings in the past, Agar...",India,Tripura
25,Thanjavur,4.4,1-2,October to March,[' Also known as Tanjore or the city of temple...,India,Tamil Nadu
26,Ajmer,3.8,1-2,October-March,"[' Surrounded by Aravali ranges, the city of A...",India,Rajasthan
27,Aurangabad,3.7,3-4,October to February,"[' Aurangabad, which was declared by the Gover...",India,Maharashtra
28,Aurangabad,3.7,3-4,October to February,"[' Aurangabad, which was declared by the Gover...",India,Bihar
29,Jammu,4.1,1-2,October to early April,[' Jammu is the southernmost-part of the union...,India,Jammu and Kashmir
30,Puri,4.3,1-2,October and February,[' Puri in Odisha is one of the four must-visi...,India,Odisha
31,Bikaner,4.3,1-2,October to March,"[' Located in the midst of Thar Desert, Bikane...",India,Rajasthan

In [56]:
new_city=city
new=new_city.drop('City_description',axis=1)

KeyError: "['City_description'] not found in axis"